---
layout: layouts/base.njk
title: Sidan hittades inte
permalink: /404.html
eleventyExcludeFromCollections: true
---
<section class="fyrnollfyra">
  <img src="/assets/img/gas-560.webp" width="357" height="560" alt="">
  <p class="handskrift sektion__kicker">hönk?!</p>
  <h1>Hoppsan, här fanns det ingen tårta</h1>
  <p class="ingress" style="margin-inline:auto">Sidan du letar efter verkar ha blivit uppäten. Misstänkt nummer ett är gåsen, som förnekar allt.</p>
  <div class="knapprad">
    <a class="knapp" href="/">Till startsidan</a>
    <a class="knapp knapp--sekundar" href="/recept/">Kika på recepten</a>
  </div>
</section>
